export ADDR=:8080
export DB_ADDR=postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable
#export MIGRATIONS_PATH="postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable"